/* 기본 CSS */

/* woff는 웹용으로 압축된 형식으로 비교적 작은 파일 크기로 빠른 로딩 제공한다. eot는 Microssoft가 개발한 형식으로 주로 IE에서 지원하며, 다른 브라우저에서는 거의 지원하지 않는다.*/
@font-face {
    /*font-family: 'Nanum Gothic', sans-serif;*/        /* 글꼴 이름 */
    src: url(../webfont/NanumGothic.woff);          /* 글꼴 파일 경로 */
}

/* box-sizing: content-box;는 box-sizing 속성의 기본값이며, 적용시 요소의 width와 height는 요소의 실제 콘텐츠 크기만을 정의하고 그안에 추가되는 padding과 border는 크기에 포함되지 않습니다. */
/* box-sizing: border-box;를 적용하면 width와 height 값이 내용영역, padding, border, margin을 모두 포함하는 크기를 나타냅니다. */
* {
    box-sizing: border-box;
}

html {
    /* 1rem = html = 16px */
    font-size: 1rem;                                /* 1rem = html = 16px; font-size: 62.5%; 62.5% = 10px, 1rem = 10px */
}

body {
    background-image: url(../img/bg_color.png);     /* 웹 요소에 배경 이미지 넣기 */
    font-family: 'Nanum Gothic', sans-serif;        /* 글꼴 이름 */
    color: #000000;			                   /* 글꼴 색깔 #555555 */

    line-height: 18px; 			                    /* 줄 간격 */
    /*MARGIN: 0px;*/    			                /* 바깥쪽 여백 */
    /*PADDING-LEFT: 0px;*/		                    /* 안쪽 여백 */
    /*PADDING-RIGHT: 0px;*/
    /*PADDING-TOP: 0px;*/
    /*PADDING-BOTTOM: 0px;*/
   
}

/* id(#)는 식별자를 의미하므로 페이지에서 같은 이름을 오직 한 번만 사용할 수 있고, class(.)는 집합을 의미하므로 페이지에서 같은 이름을 여러 번 사용할 수 있습니다. */

.container {
    width: 1440px;
    display: grid;
    flex-direction: row;                            /* 아이템들이 행(가로) 방향으로 배치됩니다. */
    flex-wrap: wrap;                                /* 줄바꿈을 합니다. float이나 inline-block으로 배치한 요소들과 비슷하게 동작합니다. */
    margin: auto;                                   /* margin 값을 auto로 두는 것은 좌우의 margin 값을 공평하게 나누면서 레이아웃을 한가운데 옳길 수 있습니다. */
    grid-template-columns: 250px 1fr 250px;
    grid-template-rows: repeat(7, minmax(5px, auto));
    grid-template-areas:
        ".      .       today"
        "count  header  login"
        "menu   menu    menu"
        ".      .       ."
        "nav    article aside"
        ".      .       ."
        "footer footer  footer";
    background-color: yellow;
}

.item:nth-child(3) {
    background-color: crimson;
}

.item:nth-child(4) {
    background-color: greenyellow;
}

.item:nth-child(5) {
    background-color: darkmagenta;
}

.item:nth-child(6) {
    background-color: cornflowerblue;
}

.item:nth-child(7) {
    grid-column-start: 1;
    grid-column-end: 4;
    justify-self: center;
    background-color: aqua;
}

.item:nth-child(8) {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: darksalmon;  
}

.item:nth-child(10) {
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: deeppink;
    padding: 10px;
}

.item:nth-child(11) {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: darksalmon;  
}

.item:nth-child(12) {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: blueviolet; 
}

today { 
    grid-area: today;
}

count {
    grid-area: count;
}

header { 
    grid-area: header;
}

login {
    grid-area: login;
}

.menu {
    grid-area: menu;
}

nav { 
    grid-area: nav;
}

article { 
    grid-area: article;
}

footer { 
    grid-area: footer;
}

img {
    margin: 0px;
    padding: 0px;
}



/* 머릿글 메뉴 */
#topMenu {
    height: 30px;
    width: auto;
    margin: 0px 0px 0px 0px;  
}

#topMenu ul {                               /* 메인 메뉴 안의 ul을 설정함: 상위메뉴의 ul+하위 메뉴의 ul */
    list-style-type: none;                  /* 메인 메뉴 안의 ul 내부의 목록 표시를 없애줌 */
    margin: 0px;                            /* 메인 메뉴 안의 ul의 margin을 없앰 */
    padding: 0px;                           /* 메인 메뉴 안의 ul의 padding을 없앰 */
}

#topMenu ul li {                            /* 메인 메뉴 안에 ul 태그 안에 있는 li 태그의 스타일 적용(상위/하위메뉴 모두) */
    color : #ffffff;                      /* 글씨 색을 흰색으로 설정 */
    background-color: #2d2d2d;            /* 배경 색을 RGB(2D2D2D)로 설정 */
    float: left;                            /* 왼쪽으로 나열되도록 설정 */
    line-height: 30px;                      /* 텍스트 한 줄의 높이를 30px로 설정 */
    vertical-align: middle;                 /* 세로 정렬을 가운데로 설정 */
    text-align: center;                     /* 텍스트를 가운데로 정렬 */
    position: relative;                     /* 해당 li 태그 내부의 top/left 포지션 초기화 */
}

.menuLink, .submenuLink {                   /* 상위 메뉴와 하위 메뉴의 a 태그에 공통으로 설정할 스타일 */
    text-decoration: none;                  /* a 태그의 꾸밈 효과 제거 */
    display: block;                         /* a 태그의 클릭 범위를 넓힘 */
    padding: 0 20px;
    width: 14.81vw;                         /* 기본 넓이를 199px(18.95vm)로 설정 */
    font-size: 1rem;                        /* 폰트 사이즈를 12px로 설정 */
    font-weight: bold;                      /* 폰트를 굵게 설정 */
    font-family: "Trebuchet MS", Dotum;     /* 기본 폰트를 영어/한글 순서대로 설정 */
}

.menuLink {                                 /* 상위 메뉴의 글씨색을 흰색으로 설정 */
    color: #ffffff;
}

.topMenuLi:hover .menuLink {                /* 상위 메뉴의 li에 마우스오버 되었을 때 스타일 설정 */
    color: red;                           /* 글씨 색 빨간색 */
    background-color: #4d4d4d;            /* 배경색을 밝은 회색으로 설정 */
}

.submenuLink {                              /* 하위 메뉴의 a 태그 스타일 설정 */
    margin: 0px 0px 0px 0px;
    color: #2d2d2d;                       /* 글씨 색을 RGB(2D2D2D)로 설정 */
    background-color: white;              /* 배경색을 흰색으로 설정 */
    border: solid 1px black;              /* 테두리를 설정 */
    margin-top: -1px;                       /* 위 칸의 하단 테두리와 아래칸의 상단 테두리가 겹쳐지도록 설정 */
}

.longLink {                                 /* 좀 더 긴 메뉴 스타일 설정 */
    width: 14.81vw;                         /* 넓이는 198px로 설정 */
}

.submenu {                                  /* 하위 메뉴 스타일 설정 */
    position: absolute;                     /* html의 flow에 영향을 미치지 않게 absolute 설정 */
    height: 0px;                            /* 초기 높이는 0px로 설정 */
    overflow: hidden;                       /* 실 내용이 높이보다 커지면 해당 내용 감춤 */
    transition: height .2s;                 /* height를 변화 시켰을 때 0.2초간 변화 되도록 설정(기본) */
    -webkit-transition: height .2s;         /* height를 변화 시켰을 때 0.2초간 변화 되도록 설정(구버전 크롬/사파라ㅣ) */
    -moz-transition: height .2s;            /* height를 변화 시켰을 때 0.2초간 변화 되도록 설정(구버전 파폭) */
    -o-transition: height .2s;              /* height를 변화 시켰을 때 0.2초간 변화 되도록 설정(구버전 오페라) */ 
}

.topMenuLi:hover .submenu {                 /* 상위 메뉴에 마우스 모버한 경우 그 안의 하위 메뉴 스타일 설정 */
    height: 93px;                           /* 높이를 93px로 설정 */
}

.submenuLink:hover {                        /* 하위 메뉴의 a 태그의 마우스 오버 스타일 설정 */
    color: red;                           /* 글씨색을 빨간색으로 설정 */
    background-color: #dddddd;            /* 배경을 RGB(DDDDDD)로 설정 */
}

/* 반응형: 화면이 좁아질 때 메뉴가 자동으로 줄바꿈되도록 */
@media (max-width: 768px) {
    #topMenu ul {
        flex-wrap: wrap;             /* 필요 시 자동 줄바꿈 */
    }
    .menuLink {
        padding: 8px 12px;
        font-size: 0.9rem;
    }
}