/* 기본 CSS */

/* woff는 웹용으로 압축된 형식으로 비교적 작은 파일 크기로 빠른 로딩 제공한다. eot는 Microssoft가 개발한 형식으로 주로 IE에서 지원하며, 다른 브라우저에서는 거의 지원하지 않는다.*/
@font-face {
    src: url(../webfont/NanumGothic.woff);          /* 글꼴 파일 경로 */
    font-family: 'Nanum Gothic', sans-serif;        /* 글꼴 이름 */
}

/* box-sizing: content-box;는 box-sizing 속성의 기본값이며, 적용시 요소의 width와 height는 요소의 실제 콘텐츠 크기만을 정의하고 그안에 추가되는 padding과 border는 크기에 포함되지 않습니다. */
/* box-sizing: border-box;를 적용하면 width와 height 값이 내용영역, padding, border, margin을 모두 포함하는 크기를 나타냅니다. */
* {
    box-sizing: border-box;
}

html {
    /* 1rem = html = 16px */
    font-size: 1rem;                                /* 1rem = html = 16px; font-size: 62.5%; 62.5% = 10px, 1rem = 10px */
}

body {
    background-image: url(../img/bg_color.png);     /* 웹 요소에 배경 이미지 넣기 */
    /* font-family: 'Nanum Gothic', sans-serif; */  /* 글꼴 이름 */
    color: #000000;			                   /* 글꼴 색깔 #555555 */
    line-height: 18px; 			                    /* 줄 간격 */
    /* MARGIN: 0px; */    			                /* 바깥쪽 여백 */
    /* PADDING-LEFT: 0px; */		                /* 안쪽 여백 */
    /* PADDING-RIGHT: 0px; */
    /* PADDING-TOP: 0px; */
    /* PADDING-BOTTOM: 0px; */
   
}

/* id(#)는 식별자를 의미하므로 페이지에서 같은 이름을 오직 한 번만 사용할 수 있고, class(.)는 집합을 의미하므로 페이지에서 같은 이름을 여러 번 사용할 수 있습니다. */

.container {
    width: min(100%, 1440px);
    display: grid;
    flex-direction: row;                            /* 아이템들이 행(가로) 방향으로 배치됩니다. */
    flex-wrap: wrap;                                /* 줄바꿈을 합니다. float이나 inline-block으로 배치한 요소들과 비슷하게 동작합니다. */
    margin: auto;                                   /* margin 값을 auto로 두는 것은 좌우의 margin 값을 공평하게 나누면서 레이아웃을 한가운데 옳길 수 있습니다. */
    grid-template-columns: 250px 1fr 250px;
    grid-template-rows: repeat(5, minmax(5px, auto));
    grid-template-areas:
        ".      .       today"
        "count  header  login"
        "menu   menu    menu"
        ".      .       ."
        "nav    article aside"
        ".      .       ."
        "footer footer  footer";
    background-color: white;
}

.item:nth-child(3) {
    background-color: crimson;
    padding: 10px;
}

.item:nth-child(4) {
    background-color: greenyellow;
    padding: 10px;
}

.item:nth-child(5) {
    background-color: darkmagenta;
    padding: 10px;
}

.item:nth-child(6) {
    background-color: white;
}

.item:nth-child(7) {
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 0;
    /*background-color: darksalmon;*/ 
}

.item:nth-child(8) {
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 0;
    /*background-color: deeppink;*/
    /*padding: 10px;
    border-left: solid 1px #000000;*/
}

.item:nth-child(9) {
    grid-column-start: 1;
    grid-column-end: 4;   
    padding-right: 20px;                            /* padding: 0 0 0 0;  padding 여백 순서 - top right bottom left */
    /*background-color: blueviolet;*/
    border-top: solid 1px #000000;
}

today { 
    grid-area: today;
}

count {
    grid-area: count;
}

header { 
    grid-area: header;
}

login {
    grid-area: login;
}

.menu {
    grid-area: menu;
}

nav { 
    grid-area: nav;
}

article { 
    grid-area: article;
}

footer { 
    grid-area: footer;
}

img {
    margin: 0px;
    padding: 0px;
}



/* -------------------------------- */
/*   반응형 + 드롭다운 정상 동작 CSS  */
/* -------------------------------- */

#topMenu {
    width: 100%;
    height: 36px;
    margin: 0;
    background-color: #2d2d2d;
    overflow: visible;
}

#topMenu > ul {
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
}

#topMenu > ul > li {                                /* 모든 li 공통: 높이 채우고 내용 중앙정렬 */
    height: 100%;                  
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 1차 메뉴 */
#topMenu > ul > li.topMenuLi {
    position: relative;
    flex: 1 1 0;
    background: transparent;
    text-align: center;
}



/* ---------------------------------------- */
/*  메뉴 사이 구분자( | ) 배경색 + 높이 보정  */
/* ---------------------------------------- */
#topMenu > ul > li:not(.topMenuLi) {
    background-color: #2d2d2d;                    /* 메뉴바와 동일한 검정색 */
    background: transparent;
    color: #ffffff;                               /* | 기호 흰색 */
    padding: 0;
    flex: 0 0 auto;
    height: 100%;                                   /* 메뉴바 높이 전부 채움 */
    line-height: 30px;                              /* 텍스트를 수직 가운데 정렬 */
    display: flex;                                  /* 높이 100% 채우는 핵심 */
    align-items: center;                            /* 수직 중앙 정렬 */
    justify-content: center;                        /* 수평 중앙 정렬 */
}

/* 링크 스타일 */
#topMenu a.menuLink,
#topMenu a.submenuLink {
    display: block;
    width: 100%;
    padding: 8px 12px;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    font-family: "Trebuchet MS", Dotum;
    font-size: 1rem;
    font-weight: bold;
}



/* --------------------------- */
/*        드롭다운 메뉴         */
/* --------------------------- */

#topMenu > ul > li.topMenuLi > ul.submenu {
    position: absolute;
    left: 0;
    top: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #2d2d2d;
    z-index: 1000;

    max-height: 0;                                  /* 닫힘 */
    overflow: hidden;
    transition: max-height 0.25s ease;
}

/* 펼침 */
#topMenu > ul > li.topMenuLi:hover > ul.submenu {
    max-height: 500px;                              /* 충분한 높이 */
}

/* 서브메뉴 항목 */
#topMenu > ul > li.topMenuLi > ul.submenu > li {
    display: block;
    width: 100%;
    border-top: 1px solid #555;
}

#topMenu > ul > li.topMenuLi > ul.submenu > li > a {
    display: block;
    padding: 8px 12px;
    text-align: left;
}



/* ------------------------------ */
/*     서브메뉴 텍스트 중앙정렬     */
/* ------------------------------ */
#topMenu > ul > li.topMenuLi > ul.submenu > li > a.submenuLink {
  text-align: center;                               /* 중앙 정렬 */
}



/* ------------------------------ */
/*  마우스 오버 시 색상 강조 설정   */
/* ------------------------------ */

/* 상단 메뉴 글자 빨간색 */
#topMenu > ul > li.topMenuLi:hover > a.menuLink {
  color: red !important;                          /* 우선순위 강제 적용 */
  background-color: #4d4d4d;
}

/* 하위 메뉴 글자 파란색 등으로 구분(선택사항) */
#topMenu > ul > li.topMenuLi > ul.submenu > li:hover > a.submenuLink {
    color: red !important;
    background-color: #ddd;
}



/* -------------------------- */
/*       반응형 보정 영역      */
/* -------------------------- */

@media (max-width: 1024px) {
    #topMenu > ul {
        justify-content: space-around;
    }
}

@media (max-width: 768px) {
    #topMenu > ul {
        flex-wrap: wrap;
    }
    #topMenu a.menuLink,
    #topMenu a.submenuLink {
        padding: 10px 14px;
        font-size: 0.95rem;
    }
}
