/* 웹폰트 CSS */
@font-face {
    font-family: 'Nanum Gothic';
    src: url(../webfont/NanumGothic.eot);
  }
  
  
  /* 콘텐츠의 width와 height로 설정한 값에 padding, border, margin 값이 포함되어 만들어 집니다. */
* {
      box-sizing: border-box;
}
  
html {
      /* 1rem = html = 16px */
      font-size: 62.5%;   /* 62.5% = 10px, 1rem = 10px */
}
  
body {
      background-image: url(../img/bg_color.png); /* 웹 요소에 배경 이미지 넣기 */
      font-size: 12px;			                    /* 글꼴 크기 */
      font-family: 'Nanum Gothic', sans-serif;	/* 글꼴 종류 */
      color: #000000;	  	                      /* 글꼴 색깔 #555555 */
      line-height: 18px; 			                  /* 줄 간격 */
    /*  MARGIN: 0px;	*/			                  /* 바깥쪽 여백 */
    /*  PADDING-LEFT: 10px;	*/	                /* 안쪽 여백 */
    /*  PADDING-RIGHT: 0px;  */
    /*  PADDING-TOP: 0px;   */
    /*  PADDING-BOTTOM: 0px;   */
}
    
table {
    width: 100%;
}
  
tr.white {
    color: white;
}
    
tr.black {
    color: black;
}
  
td {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}
    
td.left {
    text-align: left;
    padding-left: 5px;
}
    
a:link, a:visited, a:active {		            /* LINK-링크가 있을 때 */
    text-decoration: none;		                /* VISITED-한번이라도 방문한 페이지 */
    color: #0000FF;		                        /* ACTIVE-링크를 클릭하여 이동중일 때 */
}
    
a:hover {                                  /* HOVER-링크에 마우스가 있을 때 */
    text-decoration: underline;
    color: #FFa500;
}

/* 모바일용 CSS */
@media screen and (min-width: 320px){
.container {
    width: 95%;
    height: auto;
    display: grid;
    margin: 10px auto;
    grid-template-rows: repeat(3, auto);             
    grid-template-columns: 100%;
    place-content: start center;                    /* align-content와 justify-content의 단축 소겅입니다. */   
    grid-template-areas: "header"
                        "section"
                        "footer";
    gap: 10px 10px;                                 /* 각 행과 행, 열과 열 사이의 간격을 지정합니다. */         
}

.header {
    grid-area: header;
    width: 100%;
    height: auto;
    margin: 0px 0px 0px 0px;                        /* 요소의 외부(바깥)top, right, bottom, left) 여백을 지정 */
    padding: 10px 0px 10px 0px;                       /* 요소의 내부(안)top, right, bottom, left) 여백을 지정 */
    background-color: #ffffff;
    border: 1px solid #aa0000;
    text-align: center;
    font-size: 2rem;
}

.section {
    grid-area: section;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    gap: 10px 10px;
}

.section div {
    width: 100%;
}
  
.section div:first-child {
    background-color: #ffffff;
    border: 1px solid #aa0000;
}
  
.section div:nth-child(2) {
    background-color: #ffffff;
    border: 1px solid #aa0000;
}
  
.section div:nth-child(3) {
    background-color: #ffffff;
    border: 1px solid #aa0000;
}
  
.footer{
    grid-area: footer;
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    border: 1px solid #AA0000;
    padding:10px;
    text-align: right;
  }
}

/* 태블릿용 CSS */
@media all and (min-width: 768px){
.container {
    width: 95%;
    height: auto;
    display: grid;
    grid-template-rows: repeat(3, auto);             
    grid-template-columns: 33.33% 33.33% 33.33%;
    place-content: start center;                    /* align-content와 justify-content의 단축 소겅입니다. */   
    grid-template-areas: "header header header"
                        "section  section section"
                        "footer footer footer";
    gap: 10px 10px;                                 /* 각 행과 행, 열과 열 사이의 간격을 지정합니다. */                     
}
    
.header {
    grid-area: header;
    width: 100%;
    height: auto;
    margin: 0px 0px 0px 0px;                        /* 요소의 외부(바깥)top, right, bottom, left) 여백을 지정 */
    padding: 10px 0px 10px 0px;                       /* 요소의 내부(안)top, right, bottom, left) 여백을 지정 */
    background-color: #ffffff;
    border: 1px solid #aa0000;
    text-align: center;
    font-size: 2rem;
}
  
.section {
    grid-area: section;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: auto;
    gap: 0px 10px;
}
 
.section div {
    width: 33.33%;
}

.section div:first-child {
    background-color: #ffffff;
    border: 1px solid #aa0000;
}
  
.section div:nth-child(2) {
    background-color: #ffffff;
    border: 1px solid #aa0000;
}
  
.section div:nth-child(3) {
    background-color: #ffffff;
    border: 1px solid #aa0000;
}
  
.footer{
    grid-area: footer;
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    border: 1px solid #AA0000;
    padding:10px;
    text-align: right;
  }
}

/* PC용 CSS */
@media screen and (min-width: 1025px) {
td {
    font-size: 1.5rem;
}
}  